body{
    background-color: #081433;
    color: #fff;
}
/*home page style (postCrud)*/
.search{
    height: 70px;
    display: flex;
    justify-content: center;
}

#btnPesquisar{
    width:500px;
    height: auto;
    display: flex;
}

#btnPesquisar p{
    padding-left: 3rem;
}

#btnAdd p{
    margin-left: 5px;
}

.img-search{
    margin-top: 3px;
    margin-left: 10rem;
}


.search button{
    margin-bottom: 1rem;
    margin-top:20px;  
    width: 400px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(123, 147, 169, 47%);
    cursor: pointer;
    color: white;
    border:solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search button:hover{
    box-shadow: 0 0 20px #A9A9A9;
}

#btnAdd{
    width:120px;
    height:40px;
    margin-left: 10px;
}

#btnAdd:hover{
    box-shadow: 0 0 20px #A9A9A9;
  }

.img-add{
    margin-left:5px;
}

.ver-comentarios{
    border:none;
    width:150px;
    font-family: 'HANALEI FILL';
    color:#9DB3EB;
    background-color: #081433;
    cursor: pointer;
    margin-right: 10rem;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 0;
}

.deixar-comentario{
    border:none;
    width:150px;
    font-family: 'HANALEI FILL';
    color:#9DB3EB;
    background-color: #081433;
    cursor: pointer;
    margin-left: 35rem;
    margin-bottom: 0;
}
.post-container {
    margin-top: 1rem;
    background-color: rgb(171, 171, 171,40%);
    width:fit-content;
    height:fit-content;
    border-radius: 10px;
    border:none;
}

 .logo{
  width:90px;
  margin-left: 20px;
  margin-top: 50px;
  position: absolute;
}

.autorP{
  width: fit-content;
  height:fit-content;
  color:#FB8686;
  font-family: 'Inconsolata';
  font-size: 20px;
  margin-left: 7.5rem;
  font-style: italic;
  margin-top: 2rem;
  margin-bottom: 0;
}
.tituloP{
  width:fit-content;
  height:fit-content;
  color:#FB8686;
  font-family: 'Inconsolata';
  font-size: 20px;
  margin-left: 7.5rem;
  margin-top: 0;
}
.conteudoP{
  font-family: 'Inconsolata';
  font-size: 20px;
  margin-top: 2rem;
  margin-left: 1rem;
  min-width: 94rem;
  width: fit-content ;
  height:fit-content;
  min-height:3rem;
}

  .delete-button, .update-button{
    border-radius: 20px;
    background-color: rgb(123, 147, 169, 47%);
    cursor:pointer;
    width:80px;
    margin-top: 0;
    float:right;
    margin-left: 3px;
    margin-bottom: 8px;
    margin-right: 8px;
}
/*estiliza o conjunto de posts*/
  #posts{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
  }

    #btnListar{
    width: 20%;
    height: 30px;
    border-radius: 20px;
    background-color: rgb(123, 147, 169, 47%);
    cursor:pointer;
    color:white;
    border: solid white;
    margin-left: 40%;
}

    #btnListar:hover{
        box-shadow: 0 0 20px #A9A9A9;
      }

      #modalContainer {
        display: none;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 20px;
        border-radius: 15px;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 800px;
        height: fit-content;
        transform: translate(-50%, -50%);
}

      #modalContainer h2{
      text-align: center;
      margin-bottom: 3rem;
      margin-top: 5rem;
}
     
      #inputAutor,#inputConteudo, #inputTitulo{
        display: flex;
        margin-top: 20px;
        width:fit-content;
        min-width: 300px;
        height: fit-content;
        padding: 5px;
        border: 1px solid #0893BF;;
        background-color: #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 15px;
        margin-left: 32%;

      }
      /*estiliza os botoes do modal*/
     #cancelarBtn, #salvarBtn{
        width: 30%;
        height: 30px;
        padding: 5px 20px;
        border-radius: 20px;
        background-color: rgba(46, 123, 158, 0.4);
        cursor:pointer;
        outline: 0;
        color: floralwhite;
        font-size: 15px;
        font-weight: 400;
        margin-top: 3rem;
        margin-left: 7rem;
}
/*controla a home inteira*/
.home-page{
    display: flex;
    flex-direction: column;
}