/*login and signup style*/
body {
  font-family: "Inter";
  background-size: 120%;
  background-image: url("../assets/blurry-gradient-haikei\(7\).svg");
  color: #fff;
}

.enter a {
  text-decoration: none;
  color:#0893bf;
}

.enterLogin a{
  text-decoration: none;
  color:#0893bf;
}

.enter p {
  margin-top: 5px;
}

#signup {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  flex-direction: column;
}

#signup h1 {
  font-family: "Courier New", Courier, monospace;
}

#login h1{
    font-family: "Courier New", Courier, monospace;
    margin-right: 4rem;
}

#login{
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/*div form addPost*/
#create{
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#form-signup,
#formLogin,
#form-create {
  flex-direction: column;
  display: flex;
  align-items: center;
}

#form-create h1{
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
}

#name {
  border-radius: 15px;
  border: none;
  width: 400px;
  height: 40px;
  padding-left: 15px;
  background-color: #273565;
  color: white;
  margin-bottom: 10px;
  font-size: 20px;
}

#emailLogin {
  border-radius: 15px;
  border: none;
  width: 400px;
  height: 40px;
  padding-left: 15px;
  background-color: #273565;
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}

#email {
  border-radius: 15px;
  border: none;
  width: 400px;
  height: 40px;
  padding-left: 15px;
  background-color: #273565;
  color: white;
  font-size: 20px;
}
/*criar Post*/
#titulo {
  border-radius: 15px;
  border: none;
  width: 400px;
  height: 40px;
  padding-left: 15px;
  background-color: #273565;
  color: white;
  margin-top: 15px;
  font-size: 20px;
}

#password {
  border-radius: 15px;
  border: none;
  width: 400px;
  height: 40px;
  padding-left: 15px;
  background-color: #273565;
  color: white;
  margin-top: 5px;
  font-size: 20px;
}

input::placeholder {
  color: white;
}

h1 {
  color: #fafafa;
}

.img-login {
  width: 300px;
  margin-bottom: 20px;
  margin-top: 40px;
}

.img-signup {
  width: 250px;
  margin-top: 5px;
  margin-bottom: 15px;
}

#button-cadastrar,
#button-entrar,
#button-criar {
  width: 120px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #0893bf;
  cursor: pointer;
  color: #081433;
}

button a:-webkit-any-link {
  text-decoration: none;
  color: #081433;
}

/*alertas de erro do form de cadastro*/
.erroNome {
  color: red;
  font-size: 0.9rem;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 10px;
}

.erroEmail,
.erroSenha {
  margin-top: 8px;
  color: red;
  font-size: 0.9rem;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 10px;
}

/*criar Post*/
#conteudo {
  border-radius: 15px;
  border: none;
  width: 400px;
  height: 300px;
  padding-left: 15px;
  background-color: #273565;
  color: white;
  margin-top: 15px;
  font-size: 20px;
}

.Logo-create {
  margin-bottom: 3px;
}

/*extra fonts*/
.hanalei-fill-regular {
  font-family: "Hanalei Fill", system-ui;
  font-weight: 400;
  font-style: normal;
}

.inconsolata {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/*responsividade telas pequenas*/
@media (max-width:480px){

  body {
    font-family: "Inter";
    background-size: 400%;
    background-image: url("../assets/blurry-gradient-haikei\(7\).svg");
    color: #fff;
  }

  #signup h1 {
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
  }

  #signup {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    flex-direction: column;
  }

  .img-signup {
    width: 130px;
    margin-top: 5px;
    margin-bottom: 15px;
  }

  #login{
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #name {
    border-radius: 15px;
    border: none;
    width: 280px;
    height: 25px;
    padding-left: 15px;
    background-color: #273565;
    color: white;
    margin-bottom: 10px;
    font-size: 15px;
  }

  #email {
    border-radius: 15px;
    border: none;
    width: 280px;
    height: 25px;
    padding-left: 15px;
    background-color: #273565;
    color: white;
    font-size: 15px;
  }

  #password {
    border-radius: 15px;
    border: none;
    width: 280px;
    height: 25px;
    padding-left: 15px;
    background-color: #273565;
    color: white;
    font-size: 15px;
  }

  .enter p {
    margin-top: 5px;
    font-size: 15px;
  }

  #button-cadastrar, #button-entrar, #button-criar{
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: #0893bf;
    cursor: pointer;
    color: #081433;
    }


  #login h1{
    font-family: "Courier New", Courier, monospace;
    margin-right: 4rem;
    font-size: 20px;
    margin-left: 3rem;
    margin-bottom: 0;
}

.img-login {
  width: 180px;
  margin-bottom: 10px;
}

#emailLogin {
  border-radius: 15px;
  border: none;
  width: 280px;
  height: 25px;
  padding-left: 15px;
  background-color: #273565;
  color: white;
  font-size: 15px;
  margin-bottom: 10px;
}
.enterLogin a{
  text-decoration: none;
  color:#0893bf;
  font-size: 13px;
}

.enterLogin p{
  font-size: 15px;
}
/*form adicionar post*/
#form-create h1{
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;
}
.Logo-create {
  margin-bottom: 3px;
  width: 150px;
}
/*inputs do adicionar post*/
#titulo {
  border-radius: 15px;
  border: none;
  width: 280px;
  height: 20px;
  padding-left: 15px;
  background-color: #273565;
  color: white;
  margin-top: 15px;
  font-size: 15px;
}
#conteudo {
  border-radius: 15px;
  border: none;
  width: 280px;
  height: 100px;
  padding-left: 15px;
  background-color: #273565;
  color: white;
  margin-top: 15px;
  font-size: 15px;
}

}

/*responsividade telas médias*/
@media (min-width:768px ) and (max-width:1023px){
  body {
    background-size: 300%;
  }

  #signup h1 {
    font-size: 40px;
  }

  #signup {
    margin-top: 9rem;
  }

  .img-signup {
    width: 300px;
  }

  #name, #email, #password {
    width: 400px;
    height: 30px;
    font-size: 22px;
  }

  .enter p {
    font-size: 25px;
  }

  #button-cadastrar, #button-entrar, #button-criar{
    width: 150px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: #0893bf;
    cursor: pointer;
    color: #081433;
    font-size: 22px;
    }

    #login{
      margin-top: 8rem;
    }

    #emailLogin {
      width: 400px;
      height: 30px;
      padding-left: 15px;
      background-color: #273565;
      color: white;
      font-size: 22px;
      margin-bottom: 10px;
    }

    .enterLogin a{
      text-decoration: none;
      color:#0893bf;
      font-size: 22px;
    }
    
    .enterLogin p{
      font-size: 22px;
    }

    #create{
    margin-top: 8rem;
    }

    #form-create h1{
      font-size: 30px;
      font-family: "Courier New", Courier, monospace;
    }
    .Logo-create {
      margin-bottom: 3px;
      width: 200px;
    }
    

}

