/*login and signup style*/
body{
    font-family:'Inter';
    background-color: #081433;
    color: #fff;
}

.enter a{ 
    text-decoration: none;
    color: #0893BF;
}

#login{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-direction: column;
}

#form-signup, #formLogin, #form-create{
    flex-direction: column;
    display:flex;
    align-items: center;
}

#name{
    border-radius:15px;
    border:none;
    width:400px;
    height:40px;
    padding-left:15px;
    background-color: #273565;
    color: white;
    margin-bottom: 15px;
    font-size: 20px;
}

#email, #autor{
    border-radius:15px;
    border:none;
    width:400px;
    height:40px;
    padding-left:15px;
    background-color: #273565;
    color: white;
    font-size: 20px;
}

#password, #titulo{
    border-radius:15px;
    border:none;
    width:400px;
    height:40px;
    padding-left:15px;
    background-color: #273565;
    color: white;
    margin-top:15px;
    font-size: 20px;
}

input::placeholder{
    color: white;
}

h1 {
    color: #fafafa;
}

.img-login{
    width:350px;
    margin-bottom: 10px;
    margin-top: 80px;
}

.img-signup{
    width:300px;
    margin-top:10px;
    margin-bottom:10px;
}

#button-cadastrar, #button-entrar, #button-criar{
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border:none;
    background-color: #0893BF;
    cursor: pointer;
    color:#081433;
}

button a:-webkit-any-link{
    text-decoration: none;
    color:#081433;
}

/*criar Post*/
#conteudo{
    border-radius:15px;
    border:none;
    width:400px;
    height:300px;
    padding-left:15px;
    background-color: #273565;
    color: white;
    margin-top:15px;
    font-size: 20px;
}

.Logo-create{
    margin-bottom: 10px;
}
/*extra fonts*/
.hanalei-fill-regular {
    font-family: "Hanalei Fill", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  .inconsolata {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  
